.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button css */
* {
  font-family: "Roboto", sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ecd97;
  color: #1ecd97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  /* color: rgb(173, 171, 37); */
  color: #ffffff;
  /* background: #1ecd97; */
}
button:active {
  letter-spacing: 2px;
}
.onclic {
  width: 40px;
  border-color: #bbb;
  border-width: 3px;
  font-size: 0;
  /* border-left-color: #1ecd97; */
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  /* color: #1ecd97; */
  background: white;
}
.validate {
  font-size: 13px;
  color: white;
  background: #1ecd97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "\f00c";
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-img {
  transition: transform 0.5s ease-in-out;
}

.bullets {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.bullet.active {
  background-color: #333;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  border-radius: 50px !important;
}
.logocss {
  /* height: 100px !important; */
  width: 130px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.productGallery {
  width: "50%";
  height: "50%";
  border: "1px solid #ccc";
  border-radius: 10;
}

.img-select {
  display: "flex";
  flex-direction: "column";
  overflow-x: "auto";
  white-space: "nowrap";
}
.css-1xmpwxz-MuiDialogContent-root {
  overflow: hidden !important;
}
@media only screen and (max-width: 467px) {
  .logocss {
    /* height: 100px !important; */
    width: 60px;
    position: relative;
    left: 2rem;
  }
  .menuButton {
    position: relative;
    left: 5.5rem !important;
  }
  .imageClassMobile {
    display: grid !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 38rem;
  }
  .img-select {
    display: inline-flex !important;
    flex-direction: row !important;
    overflow-x: "auto";
    white-space: "nowrap";
  }
  .productGallery {
    padding: 5px;
  }
  .product-content {
    padding: 4rem 1rem !important;
    position: relative;
    top: 30rem;
  }
  .mobileViewMargin {
    margin-bottom: 30rem !important;
  }
  .product-title {
    /* position: relative; */
    /* top:55rem; */
    font-size: 1.2rem;
  }
  .img-showcase {
    position: absolute;
    top: 20%;
  }
  .css-19r6kue-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .BMC {
    margin-right: "0px";
  }
  .css-ryckft {
    cursor: pointer;
    margin: 0px !important;
  }
}
.css-1i5opmb-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #9c2946 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
