.footer-content{
  background: #e8e8e8;
  padding: 10px;
  
}
.footerSideImage{
width: 68%;
margin-top: -6rem;
}
.footerLogo{
  width: 100%;
  margin-top: -15px;
}

@media only screen and (max-width:467px){
  .footerSideImage{
    width: 68%;
    margin-top: 0rem;
    }
    .footerLogo {
     display: none;
  }
}

@media only screen and (max-width:768px){
    .footerLogo {
     display: none;
  }

}