body {
  margin: 0;
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Finger Paint", sans-serif !important; 
}
code {
  font-family:"Finger Paint", sans-serif;
}
